{% load static %} 
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}| N Gadgets </title>
    <link rel="stylesheet" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==">
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" />
    <link href="vendors/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	  <link href="{% static 'css/styles.css' %}" rel="stylesheet"> 
    

	<!-- Favicon  -->
    <link rel="icon" href="{% static 'images/na10.png' %}" >
    <!-- <main class="main" id="top"></main> -->
      <nav class="navbar navbar-light sticky-top" data-navbar-darken-on-scroll="900">
        <div class="container pt-2"><a class="navbar-brand" href="/"> <img src="{% static 'assets/img/gallery/logo4.png' %}" alt="..." /></a>
          <div class="navbar-nav ms-auto">
            <a href="{% url 'register' %}">
            <button class="btn btn-secondary">Login</button>
            </a>
          </div>
        </div>
      </nav>   
  </head>

      {% block content %}
      {% endblock %}
      <section class="bg-secondary">
        <div class="container">
          <div class="row">
            <div class="col-xl-3 text-center text-xl-start">
              <a class="btn text-white"  href="#!" role="button">
                <i class="fab fa-github"></i>
              </a>
              <a class="btn text-white" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="btn text-white"  href="#!" role="button">
                <i class="fab fa-stack-overflow"></i>
              </a>
            </div>
            <div class="col-xl-4 pt-2 pt-xl-0"></div>
            <div class="col-xl-5 pt-2 pt-xl-0 text-center text-xl-end">
              <p class="mb-0">&copy; This website is made with ❤️ by <a class="text-300" href="https://github.com/nazimnnazar" target="_blank">Nazim N Nazar</a></p>
            </div>
          </div>
        </div>
      </section>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.j' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
   
    <script src="vendors/@popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="vendors/swiper/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <script src="{% static 'assets/js/theme.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet">
  </body>

</html>