{% extends 'base.html' %}
{% block title %}Register {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'stylecss/css/main.css' %}">
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" request="">
                <label>Username</label>
            </div>
            <div class="user-box">
                <input type="text" name="" request="">
                <label>Password</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Submit
            </a>
        </form>
    </div>
</body>
<h1></h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


{% endblock %}
